<div #containerDiv>
  <div *ngIf="useWorker">
    <div *ngFor="let dummy of ' '.repeat(n).split(''), let x = index">
      
        <lib-liquify
        [addresses]="fakeURL"
        [xAxisType]="xAxisType"
        [yAxisType]="yAxisType"
        [chartType]="chartType"
        [width]="width"
        [height]="height"
        [duration]=10000
        [dataSetIDs]="dataSetIDs"
        [functionSource]="testFunctionSources"
        (latency)="latencyHandler($event,x)"
        ></lib-liquify>
        
        Latency: {{latency[x]}}
      </div>
  </div>
  <div *ngIf="!useWorker">

      <div *ngFor="let dummy of ' '.repeat(n).split(''), let x = index">
    
          <app-chart
          [x] = x
          [addresses]="fakeURL"
          [xAxisType]="xAxisType"
          [yAxisType]="yAxisType"
          [chartType]="chartType"
          [width]="width"
          [height]="height"
          [duration]=10000
          [dataSetIDs]="dataSetIDs"
          [functionSource]="testFunctionSources"
          (latencyEmitter)="latencyHandler($event,x)"
          ></app-chart>
      
          Latency: {{latency[x]}}
        </div>
  </div>
</div>

<div class="buttonDiv">
  <p>Use worker<input (click)="switchWorker()" type="checkbox" checked="true"></p>
  <p>Rows:<input type="number" #rows name="rows" min=1 value=1 /></p>
  <p>Columns:<input type="number" #cols name="cols" min=1 value=1 /></p>
  <p>Number of charts:<input type="number" #number name="number" value=1 /></p>
  <button (click)="applyLayout()">Apply new layout!</button>
  <p>Average FPS: {{avgFps[0]}}</p>
  <p><button (click)="measureTenSec()">Measure next 10 seconds</button></p>
  <p>Average FPS of the measured 10 seconds: {{avgTenSec}}</p>
  <p><button (click)="changeChartType()">Change chartType</button></p>
  <p><button (click)="changeXAxisType()">Change xAxisType</button></p>
  <p><button (click)="changeYAxisType()">Change yAxisType</button></p>
  <p><button (click)="changeFunctionSource()">Change FunctionSource</button></p>

</div>
<div class="buttonDiv">
  <p><button (click)="addChart()">Add Chart</button></p>

</div>